<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ALL COURSES | <%= whoami %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css_dashboard/dashboard_css.css">
        <link rel="stylesheet" href="css_dashboard/main2.css">
    <link rel="stylesheet" href="css_dashboard/main1.css">

    <style type="text/css">
      .feedback {
  background-color : yellow;
  color: black;
  padding: 10px 20px;
}

#mybutton {

  font-size: 21px;
  position: fixed;
  bottom: 25px;
  right: 10px;
}
.card {
  background: #DDD;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;

}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


html,body{
  overflow-x: hidden !important;
}
    </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>

  </head>
  <body style="overflow-x: hidden !important;">
  <% if (message != 'none'){ %>
<div id="message_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">MESSAGE</h4></center>
      </div>
      <div class="modal-body">

          <p style="color: black"><%= message %></p>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<% } %>
<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <i class="fa fa-align-right"></i>
            </button>
            <a class="navbar-brand" href="/allCourses"><span class="main-color">All Courses</span></a>
          </div>

          <div class="collapse navbar-collapse navbar-left">
          <ul class="nav navbar-nav">
          <li><a href="/overview">HOME</a></li>
          <li><a href="/allCourses">ALL COURSES</a></li>
          <li><a href="/myCourses?user=<%=whoami%>">MY COURSES</a></li>
          </ul>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= whoami %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#profile_modal"><i class="fa fa-user-o fw"></i> My Profile</a></li>
                  <li><a href="#"><i class="fa fa-envelope-o fw"></i> My courses</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/logoutStudent"><i class="fa fa-sign-out"></i>Log out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <section>
        <% if(all_courses[0] != 'none'){ %>
        <% for(var v = 0;v < all_courses.length;v++){  %>
      
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <div class="card card-5" style="width: 100%;height:content">
            <div class="row">
              <div class="col-sm-8">
              <h3><%= v+1 %>. &nbsp;<%= all_courses[v].course_name %> &nbsp;(Subject: <%= all_courses[v].subject %>)
              </h3></div>
              <% var enroll = true;
              for(var x = 0; x < my_courses.length;x++){ 
                  if(my_courses[x].course_name == all_courses[v].course_name && my_courses[x].instructor == all_courses[v].instructor){
                    enroll=false;
                  }
              %>
              
              <% } if(enroll){%>
              <div class="col-sm-4"><h3>
              <a class="main-button" href="/enrollCourse?user=<%= whoami %>&course_name=<%= all_courses[v].course_name %>&instructor=<%= all_courses[v].instructor%>&ins_name=<%= all_courses[v].ins_name %>">ENROLL</a></h3>
              </div>
              <% } else{%>
              <div class="col-sm-4"><h3>
              <a class="main-button" href="/studentViewCourse?user=<%= whoami %>&course_name=<%= all_courses[v].course_name %>&instructor=<%= all_courses[v].instructor%>">VIEW</a></h3></div>
              
              <% } %>
              
              </div>
              <h4><i>&nbsp;&nbsp;&nbsp;&nbsp;Instructor: </i><%= all_courses[v].ins_name %></h4>
              <h5>&nbsp;&nbsp;&nbsp;&nbsp;Course Material(s): <%= all_courses[v].articles %></h5>

              <h5>&nbsp;&nbsp;&nbsp;&nbsp;Course Enrollments: <%= all_courses[v].enroll_count %></h5>
              <h5>&nbsp;&nbsp;&nbsp;&nbsp;Course Tags:&nbsp;&nbsp;<input readonly="true" class="form-control" data-role="tagsinput" value="<%= all_courses[v].tags %>" disabled></h5>
            </div>
          </div>
        </div>
        <% } }else{ %>
        <center><h3 style="color: white">Currently, there are no courses available.</h3></center>
        <% }%>
      </section>


      <section>
        
      </section>
      

      <script type="text/javascript" src="js/prevent.js"></script>
      <script src='http://code.jquery.com/jquery-latest.js'></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <script src='dashboard_js/main1.js'></script>
      <script src='dashboard_js/main2.js'></script>
      <script src='dashboard_js/main.js'></script>
      <script type="text/javascript">
       
       $(window).load(function(){
         $('#message_modal').modal('show');
          }); 
    </script>
    </body>